/* For style code of this app */
body {
    background:#3498db;
}

#root {
  display: flex;
  justify-content: center;
}

.btn{
    display: block;
    background:#2ecc71;
    width:250px;
    height: 30px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;
    
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight:800;
    font-size:0.8em;
}

.game_container, .container {
    background-color: white;
    padding: 20px;
    border-radius:6px;
    border: #2980b9 4px solid;
    position: absolute;
}

.container {
    top: 50%;
    transform: translateY(-50%);
}

.container input[type="number"] {
    width: 60%;    
    border: none;
    padding: 1em;
    border: 0;
    font-size: 1rem;
 }

.container h1 {
    text-align: center;
}

.container .errorPanel {
    font-size: 0.75rem;
    color: red;
}

.game_container .result_area, .top {
    text-align: center;
}

.top, .result_area{
    padding: 30px;
}

.game_container .top span {
    font-size: 2rem;
    font-weight: bold;
}

.game_container .init_button_area, .playing_button_area, .result_button_area {
    margin-top: 50px;
}

.cell {
    border: 2px solid black;
    display: inline-block; position: relative; 
    width: 200px; height: 200px;
    background: 'yellow'; overflow: hidden;
}
.mole {
    width: 100%; height: 100%; bottom: 0; position: absolute; transition: bottom 1s;
}
.mole {
    background: url(images/mole.png) center center no-repeat;
    background-size: 200px 200px;
}
.dead {
    background: url(images/mole_dead.png) center center no-repeat;
    background-size: 200px 200px;
}
.hidden {
    bottom: -200px;
}

.hole {
    width: 200px; height: 182px; position: absolute; bottom: 0;
    background: url(images/hole.png) center center no-repeat;
    background-size: 200px 182px;
}

.hole_front {
    width: 200px; height: 70px; position: absolute; bottom: 0;
    background: url(images/hole_front.png) center center no-repeat;
    background-size: 200px 70px;
}
  

